@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

body {
  font-family: Roboto, sans-serif;
  background-color: #1F2937;
  color: #F9FAF8;
  margin:0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

/* Nav bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

nav h1 {
  font-size: 24px;
}

ul  {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 16px;
}

.secondary,
li a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}

/* top container */
.content {
  display: flex;
  gap: 16px;
  margin: 8rem 0;

}

.right {
  max-width: 500px;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.left button {
  margin-top: 10px;
}

.main {
  font-size: 48px;
  font-weight: 900;
  margin: 0;
}

/* secondary text font styling at line 38 */
.secondary {
  margin: 0px;
}

button {
  background-color: #3882F6;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  color: #fff;
  font-weight: 700;
  width:100px;
}

/* Information container */

.info {
  background-color: #fff;
  padding: 4rem 0;
}

.info h1{
  color: #1F2937;
  text-align: center;
  font-weight: 900;
  margin: 0 0 54px 0;
}

.cards {
  display:flex;
  justify-content: center;
  gap: 32px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card p{
  color: #474747;
  width:200px;
  font-size: 18px;
  text-align: center;
  margin-top: 8px;
}
.img-placeholder{
  border:3px solid #3882F6;
  border-radius: 8px;
  width:200px;
  height:200px;
}

/* quote container */
.grey-wrapper {
  background-color: #E5E7EB;
}
.quote-container {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: 0 auto;
}

.quote {
  color: #1f2937;
  font-style: italic;
  font-weight: 200;
  font-size: 36px;
  margin: 4rem 0 0 0;
}

.quotee {
  color: #1F2937;
  font-weight: 700;
  text-align: right;
  margin-bottom: 4rem;
}

/* Sign up container */
.join-us-container {
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.blue-box {
  box-sizing: border-box;
  background-color: #3882F6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  padding: 24px 108px;
  margin: 62px;
  width:1000px;
}

.blue-box h2 {
  margin: 0 0 10px 0
}
.blue-box p {
  margin:0;
}

.blue-box button {
  border: 1px solid #fff;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  padding: 32px;
}